<h1>2d10</h1>


<% if @first_diedie == 1 %>
  <p stype="color: red"><%= @outcome %></p>
<% elsif @second_diedie == 20 %>
  <p style="color: green"><%= @outcome %></p>
<% else %>
  <p><%= @outcome %></p>
<% end %>
